<ul>
	{%- if website -%}
	<li><a href="{{ website }}">Website</a></li>
	{%- endif -%}
	{%- if twitter -%}
	<li><a href="{{ twitter }}">Twitter</a></li>
	{%- endif -%}
	{%- if facebook -%}
	<li><a href="{{ facebook }}">Facebook</a></li>
	{%- endif -%}
	{%- if instagram -%}
	<li><a href="{{ instagram }}">Instagram</a></li>
	{%- endif -%}
	{%- if email -%}
	<li><a href="mailto:{{ email }}">E-Mail</a></li>
	{%- endif %}
</ul>
